@import '_utilities.scss';
footer {
  width: 100%;
  background-color: $colorWhite;
}
  footer section {

  }
    footer section h1 {

    }
    #adress {

    }
    #phone {

    }
    #mail {

    }
    #facebook {

    }
    #lang {

    }
      #lang img {
        width: 35px;
      }
    #authors {

    }
  #copyright {
    
  }
