@import "_utilities.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $sizeVrHeader;
  background-color: $colorWhite;
  box-shadow: 0 0 5px #b4b4b4;
}
  .header-button {
    display: inline-block;
    position: absolute;
    min-width: 50px;
    height: $sizeVrHeader;
  }
    .header-button img {
      display: inline-block;
      width: 40px;
    }
    @media only screen and (min-width: 545px) {
      .header-button img {
        width: 50px;
      }
    }
    .header-button span {
      display: none;
      font-size: 20px;
      font-weight: bold;
    }
    @media only screen and (min-width: 545px) {
      .header-button span {
        display: inline-block;
      }
    }

  #button-menu {
    left: 0px;
  }
    #button-menu span {
      top: calc(50% + 1px);
      left: 50px;
    }

  #title-wrapper {
    min-width: 205px;
    height: $sizeVrHeader;
  }
    #title-logo {
      display: inline-block;
      float: left;
      height: $sizeVrHeader;
    }
      #title-logo img {
        width: 25px;
      }
      @media only screen and (min-width: 545px) {
        #title-logo img {
          width: 35px;
        }
      }
    #title-text {
      display: inline-block;
      float: right;
      height: $sizeVrHeader;
    }
      #title-text h1 {
        font-family: $fontTitle;
        font-size: 22px;
      }
      @media only screen and (min-width: 545px) {
        #title-text h1 {
          padding-left: 10px;
          font-size: 28px;
        }
      }

  #button-apps {
    right: 0px;
  }
    #button-apps span {
      right: 50px;
    }
