@import "framework.scss";
footer {
  width: 100%;
  background-color: $white;
}
  footer section {
    width: 50%;
    min-height: 80px;
    float: left;
    text-align: center;
  }
    footer section h1 {
      font-size: 20px;
      font-weight: bold;
    }
    #mail {
      width: 100%;
    }
    #lang h1 {
      padding-bottom: 10px;
    }
    #lang img {
      width: 35px;
    }
    #authors {
      width: 100%;
    }
    #copyright {
      padding: 5px;
      font-size: 15px;
      background-color: #d7d7d7;
    }
