/* fonts:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Forum', cursive;
*/
@import "https://fonts.googleapis.com/css?family=Forum|Hammersmith+One|Josefin+Sans|Quicksand";
$font-title: 'Forum', cursive;
$font-button-header: 'Quicksand', sans-serif;

/* colors */
$white: #ffffff;

/* sizes */
$size-height-body: calc(100% - 55px);
$size-height-header: 55px;

html, body {
  width: 100%;
  height: $size-height-body;
  font-family: $font-title;
  background-color: #303030;
}
/*
.sticky-footer-frame { //body
     display: table;
     height: 100%;
     width: 100%;
}
.sticky-footer-row { //header and footer
     display: table-row;
     height: 1px;
}
.sticky-footer-site-content { //main-wrapper
     height: auto;
}
*/
* { box-sizing: border-box; }
.clear { clear:both; }

.center-ab-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-ab-vr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-ab-hr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center-rl-both {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-rl-vr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.center-rl-hr {
  position: relative;
  top: 50%;
  transform: translateX(-50%);
}

.wrapper-pad-all-10 {
  padding: 10px;
}
.wrapper-pad-vr-10 {
  padding: 10px 0px;
}
.wrapper-pad-hr-10 {
  padding: 0px 10px;
}
.wrapper-pad-all-20 {
  padding: 20px;
}
.wrapper-pad-vr-20 {
  padding: 20px 0px;
}
.wrapper-pad-hr-20 {
  padding: 0px 20px;
}
.wrapper-pad-all-30 {
  padding: 30px;
}
.wrapper-pad-vr-30 {
  padding: 30px 0px;
}
.wrapper-pad-hr-30 {
  padding: 0px 30px;
}
