@import "framework.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $size-height-header;
  background-color: $white;
  box-shadow: 0 0 5px #b4b4b4;
}
  .header-button {
    text-align: center;
    min-width: 48px;
  }
    .header-button img {
      position: relative;
      top:3px;
      display: inline-block;
      width: 40px;
    }
    .header-button span {
      position: relative;
      top: -5px;
      display: block;
      font-size: 14px;
      font-weight: bold;
    }
  #button-menu {
    left: 0px;
  }
  #title-wrapper {
    min-width: 224px;
    height: 100%;
    text-align: center;
  }
    #title-logo {
      display: inline-block;
      float: left;
      width: 40px;
    }
      #title-logo img {
        height: 40px;
      }
    #title-text {
      display: inline-block;
      float: left;
      width: 180px;
      font-family: $font-title;
      font-size: 22px;
      font-weight: bold;
    }
  #button-apps {
    right: 0px;
  }
