* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: $sizeVrBody;
  font-family: $fontMain;
  background-color: $colorBackground;
}
body {
  margin-top: $sizeVrHeader;
}

.u-clear { clear:both; }

/* links */
a {
  // link    - unvisited link
  // visited - visited link
  // hover   - user mouses over a link
  // focus   - user clicks on a link
  // active  - user has clicked a link
  &:link    { color: $colorLink; }
  &:visited { color: $colorLink; }
  &:hover   { color: $colorLinkHover }
  &.a--non-styled:link    { text-decoration: none; color: inherit; }
  &.a--non-styled:visited { text-decoration: none; color: inherit; }
  &.a--non-styled:hover   { text-decoration: none; color: inherit; }
}

/* button */
.o-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: 3px solid $colorWhite;
  border-radius: 25px;
  box-shadow: $shadowLite;
  transition: background-color $tFast;
}
.o-button:hover {
  background-color: $colorWhite;
}
.o-button--in-section {
  margin-top: 20px;
  width: 250px;
}
  .o-button__text {
    color: $colorWhite;
    font-family: $fontMain;
    font-size: $sizeFont3;
    font-weight: bold;
    text-align: center;
    transition: color $tFast;
  }
  .o-button:hover .o-button__text {
    color: $colorBlack;
  }

/* bar */
.o-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $sizeVrHeader;
  background-color: $colorWhite;
  transform: translateY(-100%);
  will-change: transform;
  transition: transform $tFast;
}
.o-bar--bottom {
  top: unset;
  bottom: 0;
  border-top: solid 1px $colorLightGrey;
  transform: translateY(100%);
}
  .o-bar__title-wrapper {
    display: flex;
    align-items: center;
  }
    .o-bar__img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $sizeVrHeader;
      height: 100%;
    }
      .o-bar__img {
        width: 40px;
        height: 40px;
      }
    .o-bar__title {
      margin-left: 5px;
      width: 40px;
      font-size: $sizeFont3;
    }
  .o-bar__close-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $sizeVrHeader;
    height: 100%;
  }
    .o-bar__close {
      width: 25px;
      height: 25px;
    }

/* logo */
.o-kopernik-logo {
  display: flex;
  align-items: center;
  height: $sizeVrHeader;
}
.o-kopernik-logo--align-center {
  justify-content: center;
}
  .o-kopernik-logo__emblem {
    margin-right: 10px;
    height: 40px;
  }
  .o-kopernik-logo__title {
    font-size: 1.25em;
    font-family: $fontLogo;
  }
  @include breakpoint($breakPhoneUp) {
    .o-kopernik-logo__title {
      font-size: 1.75em;
    }
  }

/* language icons */
.o-lang-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10px;
}
.o-lang-icons--full-width {
  width: 100%;
}
.o-lang-icons--align-center {
  justify-content: center;
}
  .o-lang-icons__icon {
    margin: 5px;
    width: 35px;
    height: 35px;
  }
    .o-lang-icons__img {
      width: 35px;
    }
