footer {
  width: 100%;
}
  #footer-wrapper {
    font-family: 'Josefin Sans', sans-serif;
    color: $colorWhite;
    background-color: $colorBackground;
      section {
        @include width(20);
        float: left;
        padding: 25px 0px;
        text-align: center;
        font-size: 16px;
        float: left;
      }
        .section__title {
          min-width: 125px;
          padding-bottom: 10px;
            img {
              margin-right: 5px;
              width: 25px;
            }
            h1 {
              position: relative;
              top: -5px;
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
            }
        }

        .section__text {
            span {
              display: block;
            }
        }

        #lang-icons {
          margin: auto;
          padding: 0px 20px;
            img {
              margin: 5px;
              display: inline;
              width: 35px;
            }
        }
    }
  #copyright {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    background-color: $colorCopyright;
  }
