.c-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $colorBackground;
}
  .c-footer__wrapper-sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: $colorWhite;
  }
    .c-footer__section {
      padding: 20px 5px;
      @include width(20);
      text-align: center;
    }
    @include breakpoint($breakTabletUp) {
      .c-footer__section {
        padding: 40px 5px;
      }
    }
      .c-footer__wrapper-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
        .c-footer__img {
          margin-right: 10px;
          width: 25px;
        }
        .c-footer__title {
          font-size: 20px;
          font-weight: bold;
        }
      .c-footer__text {
        width: 100%;
        font-size: 16px;
      }

      .o-lang-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px 20px;
      }
        .o-lang-icons__icon {
          margin: 5px;
          width: 35px;
          height: 35px;
        }
          .o-lang-icons__img {
            width: 35px;
          }

.c-footer__copyright {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  background-color: $colorCopyright;
}
