@import '../css/_utilities.scss';

html, body {
  width: 100%;
  height: $sizeVrBody;
  font-family: $fontHeaderTitle;
  background-color: $colorBackground;
}
* { box-sizing: border-box; }
.clear { clear:both; }

/* width */
.width-10  { display: inline-block; width: 10%;  }
.width-20  { display: inline-block; width: 20%;  }
.width-30  { display: inline-block; width: 30%;  }
.width-40  { display: inline-block; width: 40%;  }
.width-50  { display: inline-block; width: 50%;  }
.width-60  { display: inline-block; width: 60%;  }
.width-70  { display: inline-block; width: 70%;  }
.width-80  { display: inline-block; width: 80%;  }
.width-90  { display: inline-block; width: 90%;  }
.width-100 { display: inline-block; width: 100%; }

/* centering */
.center-ab-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-ab-vr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-ab-hr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center-rl-both {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-rl-vr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.center-rl-hr {
  position: relative;
  top: 50%;
  transform: translateX(-50%);
}

/* padding for wrappers */
.pad-all-10 { padding: 10px;     }
.pad-vr-10  { padding: 10px 0px; }
.pad-hr-10  { padding: 0px 10px; }
.pad-all-20 { padding: 20px;     }
.pad-vr-20  { padding: 20px 0px; }
.pad-hr-20  { padding: 0px 20px; }
.pad-all-30 { padding: 30px;     }
.pad-vr-30  { padding: 30px 0px; }
.pad-hr-30  { padding: 0px 30px; }
