.c-main {
  margin-top: $sizeVrHeader;
}
  .c-main__wrapper-main {
    overflow: hidden;
  }
    .o-section {
      width: 100%;
    }
    .o-section--main {
      padding: 60px 0px;
    }
    .o-section--articles { background-color: $colorSection1; }
    .o-section--projects { background-color: $colorSection2; }
      .o-section__title {
        font-family: $fontTitle;
        //font-weight: 700;
        font-size: $sizeFont2;
      }
      .o-section__title--main {
        color: $colorWhite;
        text-align: center;
      }
      @include breakpoint($breakDesktopUp) {
        .o-section__title {
          font-size: $sizeFont1;
        }
      }
      .o-section__tiles {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around; // in case space-evenly doesnt work
        justify-content: space-evenly;
        margin: 60px auto 0 auto;
        @include width(70);
      }
      .o-section__tiles--articles {

      }
      .o-section__tiles--projects {
        justify-content: center;
      }
        .o-tile {
          overflow: hidden;
          display: block;
          border-radius: 15px;
          background-color: $colorWhite;
          box-shadow: $shadowLite;
        }
        .o-tile--article {
          margin-bottom: 30px;
          width: 80%;
        }
        @include breakpoint($breakPhoneUp) {
          .o-tile--article {
            width: 30%;
          }
        };
        .o-tile--project {
          border-radius: 50%;
          margin: 10px;
          width: 100px;
          height: 100px;
        }
        @include breakpoint($breakDesktopUp) {
          .o-tile--project {
            width: 150px;
            height: 150px;
          }
        }
          .o-tile__img {
            width: 100%;
          }
          .o-tile__img--project {
            padding: 10px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          .o-tile__wrapper-text {
            padding: 20px;
          }
            .o-tile__title {
              margin-bottom: 5px;
              font-weight: bold;
              font-size: $sizeFont3;
            }
            .o-tile--article:hover .o-tile__title {
              text-decoration: underline;
            }
            .o-tile__date {
              color: $colorGrey;
              font-size: $sizeFont5;
              img {
                position: relative;
                top: 2px;
                margin-right: 5px;
                width: $sizeFont4;
              }
            }
            .o-tile__text {
              margin-top: 20px;
            }
