main {
  margin-top: $sizeVrHeader;
}
  #main-wrapper {
      section {
        padding: 40px 0px;
          .section__title {
            color: $colorWhite;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
          }
          @media only screen and (min-width: 545px) {
            .section__title { font-size: 55px; }
          }
      }
      #main__section__articles { background-color: $colorSection2; }
        #section__articles-wrapper {
          display: flex;
          justify-content: space-evenly;
          align-items: baseline;
          margin: 30px auto;
          @include width(70);
            article {
              width: 45%;
              background-color: $colorWhite;
              box-shadow: $shadowLite;
                img {
                  width: 100%;
                }
                h1 {
                  padding: 10px 10px 0px 10px;
                  color: $colorBlack;
                  font-size: 25px;
                  font-weight: bold;
                  text-align: center;
                }
                p {
                  padding: 10px;
                  color: $colorBlack;
                  font-size: 18px;
                }
            }
              .article__data {
                padding: 0px 10px 10px 10px;
                color: $colorBackground;
                font-size: 15px;
                text-align: center;
              }
        }
  }
