.o-menu {
  position: fixed;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  z-index: 101;
  top: $sizeVrHeader;
  left: -100%;
  border-top: solid 1px $colorLightGrey;
  width: 100%;
  height: calc(100% - #{$sizeVrHeader});
  background-color: $colorWhite/*rgba(0, 0, 0, 0.75)*/;
  transition: left 0.25s;
}
.o-menu--sub {
  left: 100%;
}
  .o-menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 860px;
    height: auto;
  }
  @include breakpoint($breakTabletUp) {
    .o-menu-content {
    
    }
  }
    .o-menu__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin: 20px 10px 0 10px;
      width: 130px;
      height: 130px;
      background-color: $colorBlack;
    }
    @include breakpoint(600px) {
      .o-menu__item {
        width: 260px;
        height: 260px;
      }
    }
      .o-menu__image {
        padding: 20px;
        width: 100%;
        height: 80%;
      }
      .o-menu__title {
        margin-bottom: 20px;
        color: $colorWhite;
        font-weight: bold;
      }
      @include breakpoint(600px) {
        .o-menu__title {
          font-size: $sizeFont3;
        }
      }