.o-menu {
  position: fixed;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: $zMenu;
  top: $sizeVrHeader;
  left: -100%;
  //border-top: solid 1px $colorLightGrey;
  width: 100%;
  height: calc(100% - #{$sizeVrHeader});
  background-color: $colorWhite/*rgba(0, 0, 0, 0.75)*/;
  transition: top $tNormal, left $tNormal;
}
.o-menu--sub {
  top: calc(-100% + #{$sizeVrHeader});
  left: 0;
  height: calc(100% - #{$sizeVrHeader} - #{$sizeVrHeader});
  //background-color: rgba(0, 0, 0, 0.75);
}
  .o-menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 860px;
    height: auto;
  }
  @include breakpoint($breakTabletUp) {
    .o-menu-content {
    
    }
  }
    .o-menu__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin: 20px 10px 0 10px;
      width: 130px;
      height: 130px;
      background-color: $colorBlack;
    }
    .o-menu__item--sub {
      flex-direction: row;
      justify-content: center;
      margin: 20px 0 0 0;
      width: 280px;
      height: 50px;
    }
    .o-menu__item--sub:last-child {
      margin-bottom: 20px;
    }
    @include breakpoint(600px) {
      .o-menu__item {
        width: 260px;
        height: 260px;
      }
      .o-menu__item--sub {
        width: 540px;
        height: 50px;
      }
    }
      .o-menu__image {
        padding: 20px;
        width: 100%;
        height: 80%;
      }
      .o-menu__title {
        margin-bottom: 20px;
        color: $colorWhite;
        font-weight: bold;
      }
      .o-menu__title--sub {
        margin-bottom: 0;
      }
      @include breakpoint(600px) {
        .o-menu__title {
          font-size: $sizeFont3;
        }
      }
  .o-menu--sub__bottom-bar {
    position: fixed;
    bottom: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    border-top: solid 1px $colorLightGrey;
    width: 100%;
    height: $sizeVrHeader;
    background-color: $colorWhite;
    transition: bottom $tNormal;
  }
    .o-menu--sub__title {
      display: flex;

    }
      .o-menu--sub__title-image {

      }
      .o-menu--sub__title-text {
        font-size: $sizeFont3;
      }
    .o-menu--sub__close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $sizeVrHeader;
      height: 100%;
    }
      .o-menu--sub__close-image {
        width:  25px;
        height: 25px;
      }