/* sizes */
$sizeVrBody: calc(100% - 55px);
$sizeVrHeader: 55px;

/* colors */
$white: #ffffff;

@import "https://fonts.googleapis.com/css?family=Forum|Hammersmith+One|Josefin+Sans|Quicksand";
/* fonts:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Forum', cursive;
*/
$fontTitle: 'Forum', cursive;
$fontButtonHeader: 'Quicksand', sans-serif;
